---
import { getRelativeLocaleUrl } from "astro:i18n";

import { Icon } from "astro-icon/components";
import LayoutBio from "@/layouts/LayoutBio.astro";
import { Version } from "@/components/Version";
import {
  defaultLang,
  languages,
  useTranslations,
} from "@/hooks/use-translations";

export function getStaticPaths() {
  return languages.map((lang) => ({ params: { lang } }));
}

const { lang = defaultLang } = Astro.params;
const t = useTranslations(lang);

const today = new Date();
const currentYear = today.getFullYear();

const social = Object.keys(t("cv.social")).map((key) => t(`cv.social.${key}`));
---

<LayoutBio
  title={t("cv.basic.name")}
  description={t("cv.basic.summary")}
  image="/profile.jpeg"
>
  <header class="flex flex-col gap-2 items-center justify-center px-8 pt-8">
    <img
      class="rounded-full size-32"
      alt={t("cv.basic.name")}
      src="http://github.com/Matheus1714.png"
    />
    <p class="text-2xl">{t("cv.basic.name")}</p>
    <p class="">@{t("cv.basic.nickname")}</p>
  </header>

  <div class="flex justify-center relative my-8">
    <div class="w-2 h-2 bg-offset rounded-full absolute -translate-y-1/4"></div>
    <div class="w-1/2 md:w-1/4 h-0.5 bg-border rounded-full"></div>
  </div>

  <main class="mx-8 flex flex-col gap-4 text-center">
    <h3 class="text-xl font-semi-bold">{t("label.personal")}</h3>
    <ul class="flex flex-col items-center gap-2">
      <li class="w-full md:w-96">
        <a
          href={getRelativeLocaleUrl(lang, "/")}
          title={t("label.portifolio")}
          class="px-10 py-4 text-base text-center
                        font-semibold transition-all duration-200 rounded
                        bg-primary hover:scale-110 focus:bg-secondary text-white
                        flex flex-row gap-2 justify-center items-center relative"
          role="button"
        >
          {t("label.portifolio")}
        </a>
      </li>

      <li class="w-full md:w-96">
        <a
          href={t("cv.basic.cv_link")}
          title={t("label.cv")}
          target="_blank"
          class="px-10 py-4 text-base text-center
                        font-semibold transition-all duration-200 rounded
                        bg-primary hover:scale-110 focus:bg-secondary text-white
                        flex flex-row gap-2 justify-center items-center relative"
          role="button"
        >
          {t("label.cv")}
        </a>
      </li>
    </ul>

    <h3 class="text-xl font-semi-bold">{t("label.social")}</h3>
    <ul class="flex flex-col items-center gap-2">
      {
        social.map((s) => (
          <li class="w-full md:w-96">
            <a
              href={s.url}
              title={s.title}
              target="_blank"
              class="px-10 py-4 text-base text-center
                            font-semibold transition-all duration-200 rounded
                            bg-primary hover:scale-110 focus:bg-secondary text-white
                            flex flex-row gap-2 justify-center items-center relative"
              role="button"
            >
              <Icon
                size={20}
                name={s.icon}
                class="absolute left-0 translate-x-8"
              />
              {s.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>

  <div class="flex justify-center relative my-8">
    <div class="w-2 h-2 bg-offset rounded-full absolute -translate-y-1/4"></div>
    <div class="w-1/2 md:w-1/4 h-0.5 bg-border rounded-full"></div>
  </div>

  <footer class="flex flex-col gap-4 justify-center items-center pb-8">
    <a
      href="https://github.com/Matheus1714/professional-portifolio/releases/latest"
      class="text-sm px-2 bg-primary rounded-full text-white hover:bg-secondary"
      target="_blank"><Version client:load /></a
    >
    <p class="text-sm">
      © {currentYear}
      {t("cv.basic.name")}. {t("pages.footer.right")}
    </p>
  </footer>
</LayoutBio>
