---
import Layout from '@/layouts/Layout.astro';

const about = {
    imageUrl: 'https://i.ytimg.com/vi/wyxeYTHhR0E/maxresdefault.jpg',
    title: 'Google Docs Clone',
    description: 'An advanced Google Docs clone developed with Tailwind CSS, React, and Next.js, offering real-time collaboration, intuitive editing features, and optimized performance for modern web users.',
    status: 'On Going',
    sourceCode: '',
    preview: '',
    tutorial: {
        author: "Code With Antonio",
        url: "https://www.youtube.com/@codewithantonio",
        parts: [
            {
                title: "Build a Real-Time Google Docs Clone With Next 15, React, Tailwind (2024)",
                url: "https://www.youtube.com/watch?v=gq2bbDmSokU&ab_channel=CodeWithAntonio"
            },
        ],
    },
    technologies: [
        { id: 'nextjs', name: 'NextJS' },
        { id: 'reactjs', name: 'ReactJS' },
        { id: 'taileindcss', name: 'Tailwind CSS' },
    ],
    features: [
        { title: "Rich Text Editor" },
        { title: "Real-time Collaboration & Database" },
        { title: "Comments and Mentions" },
        { title: "Notifications System" },
        { title: "Document Templates" },
        { title: "Copy and Paste Formatting" },
        { title: "Undo/Redo History" },
        { title: "Table Support" },
        { title: "Image Uploads" },
        { title: "Margin Controls" },
        { title: "Export (PDF, HTML, TXT, JSON)" },
        { title: "User Profiles" },
        { title: "Organization Workspaces" },
        { title: "Organization Invites" },
        { title: "Authentication" },
        { title: "Responsive Design" },
        { title: "Cursor Tracking" },
        { title: "Text Formatting Tools" },
        { title: "Lists and Checklists" },
        { title: "Link Embedding" },
        { title: "Framework Next.js 15" },
        { title: "Shadcn UI & Tailwind CSS" },
        { title: "Deployment on Vercel" },
    ],
    steps: [
        { title: 'Intro & demo', completed: false },
        { title: 'Project setup', completed: false },
        { title: 'Project structure', completed: false },
        { title: 'Tiptap editor', completed: false },
        { title: 'Tiptap extensions', completed: false },
        { title: 'Editor store', completed: false },
        { title: 'Editor tools', completed: false },
        { title: 'Font family & headings tools', completed: false },
        { title: 'Color tools (text & highlight)', completed: false },
        { title: 'Link and image tools', completed: false },
        { title: 'Align and list tools', completed: false },
        { title: 'Font size tool (custom extension)', completed: false },
        { title: 'Line height tool (custom extension) ', completed: false },
        { title: 'Margin ruler component', completed: false },
        { title: 'Navigation bar component', completed: false },
        { title: 'Navigation bar tools', completed: false },
        { title: 'Search input component', completed: false },
        { title: 'Template gallery component', completed: false },
        { title: 'Database setup (Convex)', completed: false },
        { title: 'Authentication setup (Clerk)', completed: false },
        { title: 'Create and list documents', completed: false },
        { title: 'Update and delete documents', completed: false },
        { title: 'Search documents', completed: false },
        { title: 'Organizations feature', completed: false },
        { title: 'Collaboration setup (Liveblocks)', completed: false },
        { title: 'Room permissions', completed: false },
        { title: 'Populate user information', completed: false },
        { title: 'Notifications feature', completed: false },
        { title: 'Collaborative margin ruler', completed: false },
        { title: 'Document information', completed: false },
        { title: 'Templates initial content & app optimization', completed: false },
        { title: 'Deployment (Vercel)', completed: false },
        { title: 'Editor autofocus & redeploy', completed: false },
    ],
};

const percentage = Math.floor(about.steps.reduce((count, step) => {
    if(step.completed) {
        count++;
    }
    return count;
}, 0) / about.steps.length);

---

<Layout title='Google Docs Clone'>
    <section class="py-5 px-4 sm:py-10 lg:py-16">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="grid items-center grid-cols-1 gap-12 lg:grid-cols-2">
                <div class="relative flex justify-center group">
                    <img
                        class="relative w-full md:max-w-md lg:max-w-md rounded-2xl space-x-6"
                        src={about.imageUrl}
                        alt={about.title}
                    />
                </div>
                
                <div>
                    <h1 class="text-2xl font-bold sm:text-4xl lg:text-5xl mt-3 relative">
                        {about.title}
                    </h1>
    
                    <ul class="flex flex-wrap gap-2 mt-4">
                        {about.technologies.map((tech) => (
                            <li id={tech.id} class="px-2 bg-primary rounded-full text-white">{ tech.name }</li>
                        ))}
                    </ul>
    
                    <p class="mt-5 text-base sm:text-xl">
                        {about.description}
                    </p>
                </div>
            </div>
        </div>
    </section>
</Layout>
