---
import { basic } from '@/config/cv.json';
---

<section class="py-5 px-4 sm:py-10 lg:py-16">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="grid items-center grid-cols-1 gap-12 lg:grid-cols-2">
            <div class="relative flex justify-center group">
                <div class="absolute w-full bg-secondary h-full rotate-6 rounded-2xl shadow-2xl group-hover:rotate-3 transition-transform duration-300"/>
                <div class="absolute w-full bg-primary h-full rotate-12 rounded-2xl shadow-2xl group-hover:rotate-6 transition-transform duration-300"/>
                <img
                    class="relative w-full md:max-w-md lg:max-w-md rounded-2xl space-x-6 -rotate-1 group-hover:rotate-2 transition-transform duration-300"
                    src="https://github.com/Matheus1714.png"
                    alt={`Resume ${basic.name}`}
                />
            </div>
            
            <div>
                <p class="text-lg text-offset">
                    {basic?.job}
                </p>

                <h1 class="text-2xl font-bold sm:text-4xl lg:text-5xl mt-3 relative">
                    {basic?.name}
                    <span class="relative inline-block ml-2">
                        <span class="w-1 h-6 bg-primary absolute bottom-0 left-0"></span>
                    </span>
                </h1>

                <ul class="flex flex-wrap gap-2 mt-4">
                    {basic.skills.map((skill) => (
                        <li id={skill.id} class="px-2 bg-primary rounded-full text-white">{ skill.name }</li>
                    ))}
                </ul>

                <p class="mt-5 text-base sm:text-xl">
                    {basic?.summary}
                </p>

                <div class="mt-10 flex flex-col gap-2">
                    <a href=`/cv/${basic?.cv_file_name}` title="Download CV" download
                        class="px-10 py-4 text-base text-white text-center
                            font-semibold transition-all duration-200 rounded
                            bg-primary hover:scale-110 focus:bg-secondary" role="button">
                        Download CV
                    </a>

                    <a href={basic.cv_link} title="CV Online"
                        target="_blank"
                        class="px-10 py-4 text-base text-center
                            font-semibold transition-all duration-200 rounded
                            border-2 border-primary hover:scale-110 focus:bg-secondary" role="button">
                        CV Online
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
