---
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";

type Status = 'reading' | 'stopped' | 'standby' | 'done';

type Book = {
  title: string;
  src: string;
  description: string;
  pages: number;
  currentPage: number;
  status: Status;
};

const books: Book[] = [
  {
    title: 'Clean Code',
    src: '/books/clean_architecture.jpg',
    description: 'A handbook of agile software craftsmanship, exploring how to write code that is clean, maintainable, and efficient.',
    pages: 462,
    currentPage: 0,
    status: 'standby',
  },
  {
    title: 'Domain Driven Design (DDD)',
    src: '/books/ddd.jpg',
    description: 'A foundational book that explains the principles of designing software systems deeply rooted in business domains.',
    pages: 619,
    currentPage: 0,
    status: 'standby',
  },
  {
    title: 'System Design Interview',
    src: '/books/system_design_interview.jpg',
    description: 'A guide for preparing and acing system design interviews, with real-world examples and scalable architecture techniques.',
    pages: 269,
    currentPage: 0,
    status: 'standby',
  },
  {
    title: 'Thinking in Systems',
    src: '/books/thinking_in_systems.jpg',
    description: 'A primer on systems thinking, teaching readers how to understand, analyze, and solve complex system-based problems.',
    pages: 255,
    currentPage: 0,
    status: 'standby',
  },
];

const statusColor: Record<Status, string> = {
  done: 'bg-green-500',
  stopped: 'bg-yellow-500',
  reading: 'bg-primary',
  standby: 'bg-gray-500',
};

---

<Layout title="Book">
  <div class="mx-4 md:mx-40 mt-10">
    <div class="flex justify-center items-center gap-8 flex-col">
      {books.map((book) => (
        <div class="flex bg-offset rounded-2xl w-full md:max-w-2xl shadow-lg">
          <Image
            src={book.src}
            alt={book.title}
            width={200}
            height={200}
            class="object-cover bg-no-repeat rounded-2xl"
          />
          <div class="mx-4 my-2 w-full">
            <h3 class="text-2xl mb-4 font-bold">{book.title}</h3>
            <div class="w-full h-5 bg-border rounded-full">
              <div
                class="rounded-full bg-primary h-5"
                style={{ width: `${Math.floor(book.currentPage/book.pages * 100)}%` }}
              />
            </div>
            <div class="text-end mt-2">{`${Math.floor(book.currentPage/book.pages * 100)}% (${book.currentPage}/${book.pages})`}</div>
            <p class="mt-4">{book.description}</p>
            <div class="flex justify-end mt-8">
              <div class={`${statusColor[book.status]} rounded-full text-center px-2 text-white`}>
                {book.status}
              </div>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</Layout>